body{
    background-color: #F0F0F5;
}

.code-editor {
    max-width: 100vw;
    background-color: #171717;
    box-shadow: inset 10px 10px 20px rgba(5,5,5);
    border-radius: 8px;
    padding: 2px;
}
  
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}
  
.title {
    font-family: Lato, sans-serif;
    font-weight: 900;
    font-size: 14px;
    letter-spacing: 1.57px;
    color: rgb(212 212 212);
}
  
.editor-content {
    margin: 0 10px 10px;
    color: white;
}
  
.property {
    margin-left: 30px;
}
  
.property:hover {
    cursor: text;
}
  
.editor-content .color-0 {
    color: rgb(10, 110, 106);
}
  
.editor-content .color-1 {
    color: rgb(225, 128, 0);
}
  
.editor-content .color-2 {
    color: rgba(0, 221, 255, 0.534);
}
  
.editor-content .color-3 {
    color: rgb(252, 248, 246);
}
  
.editor-content .color-4 {
    color: rgb(75, 75, 75);
}